# ignore rules

# Excel files
*.xlsx
*.xls

# C++ files (original library)
*.cc

# Compiled python files
*.pyc

# 2to3 conversion backup files
*.bak

# backup files
*.bak.py

# documentation
*.pdf
*.doc
*.docx

# to do, to terminate, obsolete
obsolete/
zu tun/
zu beenden/

