# ignore rules

# Excel files
# important for datasets
# test files shall be uploaded


# C++ files (original library)
*.cc

# Compiled python files
*.pyc

# 2to3 conversion backup files
*.bak

# backup files
*.bak.py

# documentation
*.pdf
*.doc
*.docx

# to do, to terminate, obsolete
obsolete/


#Visual studio cache files

.vs/
.vscode/
.pytest_cache/
__pycache__/
*.suo
*.sqlite
*.json

# Python virtual environment
env/
Python/env/

